<% cakepops.forEach( cakepop => { %>
<h1>
    <%= cakepop.name %>
</h1>
 <p>
    <%= cakepop.description %>
 </p>
 <button id="<%= cakepop._id %>" class="addToCartBtn">Add To Cart</button>
<% }) %>

<div>
    <button id="submit">Submit Order</button>
</div>